<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poke3</title>
    <!-- Tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Raleway Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Pokemon Font -->
    <link rel="stylesheet" href="/assets/fonts/Pokemon Solid.ttf" />
    <link rel="stylesheet" href="/styles/global.css" />
    <script src="/js/compare.js" defer></script>
    <script src="/js/capture.js" defer></script>
    <!-- <script src="/js/quiz.js" defer></script> -->
    <script src="/js/index.js" defer></script>
    <!-- For development only!! use npx tailwindcss -i ./src/input.css -o ./src/output.css for production -->
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              Raleway: ["Raleway", "sans-serif"],
              Pokemon: ["Pokemon", "sans-serif"],
            },
          },
        },
      };
    </script>
  </head>
</html>
