<body class="bg-neutral-50">
  <header class="h-20 w-full shadow-sm py-4">
    <div class="max-w-[1864px] px-8 flex mx-auto justify-between items-center">
      <a href="#" onclick="window.history.back()" class="flex justify-center items-center">
        <svg
          class="h-10 w-10 fill-neutral-900"
          viewBox="0 0 1024 1024"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z" />
          <path
            d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
          />
        </svg>
        <h1
          class="font-black text-neutral-800 invisible sm:visible sm:text-xl md:text-2xl lg:text-3xl ml-4 tracking-wider"
        >
          Terug
        </h1>
      </a>
      <a href="./pokedex" class="bg-gray-200 rounded-full w-12 h-12">
        <img
          id="current-pokemon"
          src="<%=currentPokemon.sprites.other['official-artwork']["front_default"] %>"
          alt="current-pokemon"
        />
      </a>
    </div>
  </header>
</body>
