<header class="h-20 w-full shadow-sm py-4">
    <div
      class="max-w-[1864px] px-8 flex mx-auto justify-between items-center"
    >
      <a href="/landing" class="flex justify-center items-center">
        <svg
          class="h-10 w-10 fill-neutral-900"
          viewBox="0 0 1024 1024"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z" />
          <path
            d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
          />
        </svg>
        <h1
          class="font-black text-neutral-800 invisible sm:visible sm:text-xl md:text-2xl lg:text-3xl ml-4 tracking-wider"
        >
          Terug naar menu
        </h1>
      </a>
      <a href="./pokedex.html" class="bg-gray-200 rounded-full w-12 h-12">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
          alt=""
        />
      </a>
    </div>
  </header>
  