<header class="px-8 h-20 flex justify-between items-center">
  <h1 class="font-black text-neutral-50 text-4xl tracking-wider">POKE3</h1>
  <nav id="navbar">
    <% if (user) { %>
    <a href="/logout" class="text-neutral-50 mx-4 font-semibold text-lg">Uitloggen</a>
    <% } else { %>
    <a href="/login" class="text-neutral-50 mx-4 font-semibold text-lg">Log in</a>
    <a href="/register" class="bg-blue-500 text-white py-3 px-6 rounded-lg font-semibold text-lg">Registreer</a>
    <% } %>
  </nav>
</header>