<%- include('partials/head') %>
<%- include('partials/nav') %>
    <main class="w-full mx-auto">
      <section class="flex flex-wrap gap-4 gap-y-6 my-8 mx-auto justify-center">
        <a
          href="pokemon.html"
          class="flex justify-between min-w-[22rem] w-1/4 bg-gray-200 rounded-lg p-4 relative"
        >
          <div class="flex flex-col justify-between">
            <h1 class="font-medium text-3xl">Bulbasaur</h1>
            <p class="items-start text-start text-white py-2 text-xl">
              <span
                class="inline-flex font-medium rounded-md bg-green-500 shadow-lg py-1 px-4"
                >Grass</span
              >
              <span
                class="inline-flex font-medium rounded-md bg-purple-500 shadow-lg py-1 px-4"
                >Poison</span
              >
            </p>
          </div>
          <img
            class="w-32 z-10"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
            alt="Bulbasaur"
          />
          <span
            class="absolute top-0 right-5 font-black text-4xl text-neutral-400 z-0 text-black-400"
            >#0001</span
          >
        </a>
        <a
          class="flex justify-between grayscale min-w-[22rem] w-1/4 bg-gray-200 rounded-lg p-4 relative"
        >
          <div class="flex flex-col justify-between">
            <h1 class="font-medium text-3xl">Venusaur</h1>
            <p class="items-start text-start text-white py-2 text-xl">
              <span
                class="inline-flex font-medium rounded-md bg-green-500 shadow-lg py-1 px-4"
                >Grass</span
              >
              <span
                class="inline-flex font-medium rounded-md bg-purple-500 shadow-lg py-1 px-4"
                >Poison</span
              >
            </p>
          </div>
          <img
            class="w-32 z-10"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/3.png"
            alt="Venusaur"
          />
          <span
            class="absolute top-0 right-5 font-black text-4xl text-neutral-400 z-0 text-black-400"
            >#0003</span
          >
        </a>
      </section>
    </main>
  </body>
</html>
